<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>URLify</title>

</head>
<body class="centered">

<form action='/input' method="post">
  http://
  <input type="text" name="url_input" placeholder="Enter the URL you would like to shorten..." size="50">
  <input type="submit" value="Shorten" class="pure-button pure-button-primary">


</form>

</body>
</html>