<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>URLify</title>

</head>
<body class="centered">

  <form action='/stats' method="post">
  <input type="text" name="url_input" placeholder="Type URL to shorten here" size="50">
  <input type="submit" value="Shorten" class="button-secondary pure-button ">

</form>

</body>
</html>